$primary: rgba(66, 62, 55, 1);
$secondary: rgba(227, 178, 60, 1);
$tertiary:  rgba(237, 235, 215, 1);
$quarternary: rgba(163, 149, 148, 1);
$quinary: rgba(110, 103, 95, 1);


$warningBackgroundColor: #fff3cd;
$warningBorderColor: #ab9e78;
$warningTextColor: #856404;

$dangerBackgroundColor: #f8d7da;
$dangerBorderColor: #c59fa3;
$dangerTextColor: #721c24;

html,body{
  height:100%;
  padding:0;
  margin:0;
}

*{
  box-sizing:border-box;
}

body {
  padding-bottom: 100px !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

input, button {
  border-radius: 0;
  -webkit-border-radius:0px;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
 
input[type="text"] {
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.wrapper {
    padding-bottom: 100px;
}

.container{
  
  width:100%;
  height:100%;
  
  display:flex;
  justify-content:center;
  align-items:center;
  
}

#root {
  height: 100%;
}

.h-100 {
  height: 100%;
}

.mt-10 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.bold {
  font-weight: bold;
}

.App-header {
  background-color: $primary;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clickable {
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.primary {
  background: $primary;
  color: $primary;
}

.secondary {
  background: $secondary;
  color: $secondary;
}

.tertiary {
  background: $tertiary;
  color: $tertiary;
}

.quarternary {
  background: rgba(163, 149, 148, 1);
  color: rgba(163, 149, 148, 1);
}

.quinary {
  background: rgba(110, 103, 95, 1);
  color: rgba(110, 103, 95, 1);
}

a {
  text-decoration: none;
}

@mixin noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.add-category-container {
  width: 100%;

  input {
    width: 100%;
    margin-bottom: 10px;
  }
}

.store-category-arrows {
  display: flex;

  div {
    margin-left: 10px;
  }
}

.category-name {
  div {
    margin-right: 10px;
  }
}

.store-category-groceries {
  margin-top: 10px;
}

.category-header {
  background-color: $primary;
  color: #fff;
  font-size: 22px;
  padding: 1em;
}

.store-category-groceries .store-category-grocery:nth-child(odd) {
  background-color: $tertiary;
}

.store-category-grocery {
  padding: 20px 10px;
  border: 1px solid #000;

  svg {
    margin-left: 10px;
  }

  &:hover {
    background-color: darken($tertiary, 10%) !important;
  }

  select {
    width: 100%;
    margin-top: 10px;
  }
}

.grocery-search {
  max-width: 600px;

  * {
    box-sizing: border-box;
  }

  >div.rbt {
    flex-grow: 1;
    display: block !important;
    align-items: stretch;

    div{
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }

    input {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  button {
    width: 25%;
    max-width: 25%;
  }

  display: flex;
  box-sizing: border-box;
}

.g-btn {
  background-color: $primary;
  color: white;
  display: block;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  padding: 2px;

  @include noselect;

  &:active {
    background-color: lighten($primary, 10%);
  }
}

.list-btn-container {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.g-btn-large {
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-hide, .btn-clear {
    width: 50%;
    border: 1px solid transparent;
}

.btn-hide {
  background-color: $warningBackgroundColor;
  border-color: $warningBorderColor;
  color: $warningTextColor;
  border-right: 0;

  &:hover {
    background-color: darken($warningBackgroundColor, 10%);
  }
}

.btn-clear {
  background-color: $dangerBackgroundColor;
  border-color: $dangerBorderColor;
  color: $dangerTextColor;

  &:hover {
    background-color: darken($dangerBackgroundColor, 10%);
  }
}

.search-add-btn {
  flex-grow: 1 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.padding-1 {
  padding: 1rem;
}

.flex-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.col {
  width: 22%;
  height: 200px;
  background-color: red;
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.edit-section-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}


/**************************************************
Menu
*************************************************/

header {
  width: 100%;
  background: $primary;
  position: fixed;
  z-index: 100000;

  ul {
    padding: 0;
    margin: 0;
  }
  
  li {
    list-style-type: none;
    display: inline-block;

    a {
      color: $tertiary;
      padding: 2px 16px;
      display: inline-block;
    }

    &:hover {
      cursor: pointer;
      background: $secondary;
      
      a {
        color: $primary;
      }
    }

    &.active {
      background: $secondary;

      a {
        color: $primary;
      }
    }
  }
}

.app-body {
  padding: .5rem;
  padding-top: 40px; 
  padding-bottom: 40px;
}

/********************************************
Grocery List
********************************************/

ul.suggestions {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  max-width: 600px;
  max-height: 300px;
  overflow-y: auto;

  li {
    padding: 3px 8px;
  }

  li.suggestion-active, li:hover {
    background: $secondary;
  }

  li:hover {
    cursor: pointer;
  }
}

/********************************************
Auto Complete
********************************************/
.auto-complete {
  display: inline-block;
}

/********************************************
Grocery List
********************************************/


.grocery-group {
    border: 1px solid $primary;
    margin-bottom: 1rem;

    .grocery-group-name {
      padding: .5rem;
      border-bottom: 1px solid $primary;
      background-color: $secondary;
      color: $primary;
      font-weight: bold;
    }

    .groceries {
      padding: .5rem;
    }
}

.grocery {
  border: 1px solid lighten($primary, 50%);
  margin-bottom: .5rem;
  padding: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note {
  color: lighten($primary, 20%);
  font-style: italic;
  font-size: .8rem;
}

/*********************************************
Store
*********************************************/

.store {
  border: 1px solid lighten($primary, 50%);
  margin-bottom: 1em;
}

.store-card {
}

.store-name {
  padding: .5rem;
  border-bottom: 1px solid lighten($primary, 50%);
  background-color: $secondary;
  color: $primary;
  font-weight: bold;
}

.store-title {
  font-size: 20px;
  font-weight: bold;
}

.store-details {
  padding: .5rem;
}

/***********************************************
*
* Card
*
***********************************************/
.card {
  border: 1px solid lighten($primary, 50%);
  margin-bottom: 1em;
}

.card-header {
  padding: .5rem;
  border-bottom: 1px solid lighten($primary, 50%);
  background-color: red;
  color: $primary;
  font-weight: bold;
}

.card-body {
  padding: .5rem;
}

/***********************************************
*
* END - Card
*
***********************************************/

.grocery-category-card {
  width: 32%;
}

@media only screen and (max-width: 1200px) {
  .grocery-category-card {
    width: 48%;
  }
}

@media only screen and (max-width: 800px) {
  .grocery-category-card {
    width: 100%;
  }
}

.add-grocery-container {
  display: flex;
}


/******************************************************************
List
******************************************************************/
.list {
  max-width: 600px;
  margin-bottom: 16px;

  .list-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    color: black;
    cursor: pointer;
     border-bottom: 1px solid $primary;
    // border-left: 1px solid $primary;
    // border-right: 1px solid $primary;
    border-collapse: collapse;

    .list-item-name{
      flex-grow: 1;
      width: 48%;
      max-width: 48%;
      font-weight: bold;
    }

    .list-item-note{
      width: 48%;
      font-style: italic;
      color: lighten(black, 30%);

      input {
        width: 100%;
        max-width: 100%;
      }
    }
    
    .list-item-category {
      margin-top: 6px;
      width: 100%;

      select {
        width: 100%;
        padding: 3px;
      }
    }
  }

  .list-item:nth-child(odd) {
    background: #e8e3e3;
  }

  .list-item.checked {
    text-decoration: line-through;
    opacity: .5;

    .list-item-name {
        font-weight: normal !important;
    }
  }

  .list-item.check-error {
    background-color: red;
  }
}

.list-category {
  max-width: 600px;
}

.list-category-name {
  background-color: $primary;
  color: #fff;
  padding: 5px;
  display: flex;
  justify-content: space-between;

  .item-count {
    font-style: italic;
  }
}

.ul-container {
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
}

.ul-container >div:nth-child(odd) {
  background-color: #eee;
}

.ul-item {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/******************************************************************
END List
******************************************************************/

/******************************************************************
Recipes
******************************************************************/
.recipes-container {
  input {
    width: 100%;
  }
}

.recipe-list {
  margin-top: 10px;
  border-top: 30px solid $primary;

  .recipe-list-item {
    padding: 8px;
    color: black;
    cursor: pointer;
    font-weight: bold;
  }

  .recipe-item:nth-child(odd) {
    background-color: #ccc;
  }
}

.recipe-list a  .recipe-list-item {
  border-bottom: 1px solid $primary;
  color: $primary;
}

.recipe-container {
  .recipe-section-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
  }
}

.recipe-category-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recipe-category {
  background-color: $secondary;
  font-weight: bold;
  padding: 1em;
  margin: 10px 10px 0 0;
}

.edit-recipe-container {
  input[type="text"] {
    width: 100%;
  }

  h5 {
    margin-top: 20px;
  }

  .save {
    width: 100%;
    margin-top: 10px;
  }

  .edit-list-container {
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
  }

  .edit-list-container >div:nth-child(odd) {
    background-color: #eee;
  }

  .edit-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .edit-list-item {
    padding: 5px;
  }
}

/******************************************************************
END - Recipes
******************************************************************/